<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> Data Cleaning</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Basic Cleaning](#part1) <br />

### Introduction <a id="intro" />

This notebook aims to merge multiple datasets into one for cleaning and analysis.

Importing all the required libraries.

In [32]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library

### Basic Cleaning <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [33]:
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
Go through all th data files, and fix the columns expecially dates.regfgf
fgsdf
wwww
subin

"""
#HEllo World.;

final_df=pd.concat(final)

In [18]:
final_df.sample(100)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,REPORT_DATE,OCC_DATE_FIXED,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
36420,GO-2016186684,2016-02-01,1.454300e+12,2016-02-01,1454300000000.0,2016.0,February,1.0,32.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1715,GO-20141660190,2014-03-07,1.394170e+12,2014-03-07,1394170000000.0,2014.0,March,7.0,66.0,Friday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152933,GO-2022185168,2022-01-28,1.643350e+12,2022-01-28,1643350000000.0,2022.0,January,28.0,28.0,Friday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75047,GO-20229013619,2022-04-19,1.650340e+12,2022-04-15,1650000000000.0,2022.0,April,19.0,109.0,Tuesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71215,GO-20212220912,2021-11-18,1.637210e+12,2021-11-17,1637130000000.0,2021.0,November,18.0,322.0,Thursday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17492,GO-20151979890,2015-11-18,1.447820e+12,2015-11-15,1447560000000.0,2015.0,November,18.0,322.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087,GO-20142222120,2014-06-04,1.401850e+12,2014-06-03,1401770000000.0,2014.0,June,4.0,155.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18718,GO-2015253414,2015-02-12,1.423720e+12,2015-02-11,1423630000000.0,2015.0,February,12.0,43.0,Thursday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20219,GO-2019856786,2019-05-11,1.557550e+12,2019-02-05,1549340000000.0,2019.0,May,11.0,131.0,Saturday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110155,GO-20192034328,2019-10-21,1.571630e+12,2019-10-21,1571630000000.0,2019.0,October,21.0,294.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data looks to have concatenated well and the number of columns have risen to <b>43!</b> So, I will be dropping some columns which contained either useless data, redundant data or data which is not necessary for my analysis.

In [34]:
# Doesn't make sense
final_df.drop('F_num_removed', axis=1, inplace=True)
final_df.drop('OCC_TIME_RANGE', axis=1, inplace=True)

# Old redundant data 
final_df.drop('NEIGHBOURHOOD_140', axis=1, inplace=True)
final_df.drop('HOOD_140', axis=1, inplace=True)
final_df.drop('REPORT_DATE', axis=1, inplace=True)
final_df.drop('OCC_DATE', axis=1, inplace=True)

# Resetting index since it got mixed up while concatanating 
final_df.reset_index(drop=True)

# Are not going to be used in my analysis
final_df.drop('BIKE_MAKE', axis=1, inplace=True)
final_df.drop('BIKE_MODEL', axis=1, inplace=True)
final_df.drop('BIKE_TYPE', axis=1, inplace=True)
final_df.drop('BIKE_SPEED', axis=1, inplace=True)
final_df.drop('BIKE_COLOUR', axis=1, inplace=True)
final_df.drop('BIKE_COST', axis=1, inplace=True)

In [35]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381419 entries, 1 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    381419 non-null  object
 1   REPORT_DATE_FIXED  374390 non-null  object
 2   OCC_DATE_FIXED     380097 non-null  object
 3   REPORT_YEAR        374390 non-null  float64
 4   REPORT_MONTH       374390 non-null  object
 5   REPORT_DAY         374390 non-null  float64
 6   REPORT_DOY         374390 non-null  float64
 7   REPORT_DOW         374390 non-null  object
 8   REPORT_HOUR        374390 non-null  float64
 9   OCC_YEAR           381298 non-null  float64
 10  OCC_MONTH          381298 non-null  object
 11  OCC_DAY            381298 non-null  float64
 12  OCC_DOY            381298 non-null  float64
 13  OCC_DOW            381298 non-null  object
 14  OCC_HOUR           380097 non-null  float64
 15  DIVISION           381419 non-null  object
 16  LOCATION_TYPE      374390 non-null  object
 17  PREMISES_TYPE      374390 non-null  object
 18  UCR_CODE           342420 non-null  float64
 19  UCR_EXT            342420 non-null  float64
 20  OFFENCE            342420 non-null  object
 21  MCI_CATEGORY       342420 non-null  object
 22  HOOD_158           381419 non-null  object
 23  NEIGHBOURHOOD_158  381419 non-null  object
 24  LONG_WGS84         381419 non-null  float64
 25  LAT_WGS84          381419 non-null  float64
 26  PRIMARY_OFFENCE    31970 non-null   object
 27  STATUS             31970 non-null   object
 28  HOMICIDE_TYPE      1322 non-null    object
 29  DEATH              5707 non-null    float64
 30  INJURIES           5707 non-null    float64
dtypes: float64(14), object(17)
memory usage: 93.1+ MB

As we can see, after dropping all the unnecessary columns we are left with <b>31</b> columns. We can also observe that there seems to be a lot of `NULL` values. So, let's check for them!

In [36]:
final_df.isna().sum()

EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      7029
OCC_DATE_FIXED         1322
REPORT_YEAR            7029
REPORT_MONTH           7029
REPORT_DAY             7029
REPORT_DOY             7029
REPORT_DOW             7029
REPORT_HOUR            7029
OCC_YEAR                121
OCC_MONTH               121
OCC_DAY                 121
OCC_DOY                 121
OCC_DOW                 121
OCC_HOUR               1322
DIVISION                  0
LOCATION_TYPE          7029
PREMISES_TYPE          7029
UCR_CODE              38999
UCR_EXT               38999
OFFENCE               38999
MCI_CATEGORY          38999
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE      349449
STATUS               349449
HOMICIDE_TYPE        380097
DEATH                375712
INJURIES             375712
dtype: int64

As we can see there are a lot of `NULL` values. After doing some research I realized the `DEATH` and `INJURIES` columns were specific for `Shooting` dataset, and hence the huge amounts of `NULL` values. So, to fix that I will be filling the `NULL` values in these two columns with `0` as this will indicate that no-one was injured or killed in any other types of crimes. The `HOMICIDE_TYPE` column is also specific to the `Homicide` dataset hence I will be filling the `NULL` values with "N/A". Similarly, `STATUS` and `PRIMARY_OFFENCE` is specific to the `Bike_Theft` data set, so I will be filling the `NULL` values wiht "N/A". The reason I am not dropping these columns is that even though they are specific to one type of crime, they provide very valuable insight into that crime, so for now I don't have any strong reasons to drop them.
`OFFENCE`,`UCR_EXIT`and `UCR_CODE` columns have exact same number of `NULL`, which implies that all of them might come from the same data set and after further investigation that was the case. They were `NULL` due to them not being present in the `Bike Theft` data set, since they're not a required category for them we can fill these with `N/A` as well.

In [37]:
# Filling the NULL values
final_df["DEATH"] = final_df["DEATH"].fillna(0)
final_df["INJURIES"] = final_df["INJURIES"].fillna(0)
final_df["HOMICIDE_TYPE"] = final_df["HOMICIDE_TYPE"].fillna("NotApplicable")
final_df["STATUS"] = final_df["STATUS"].fillna("NotApplicable")
final_df["PRIMARY_OFFENCE"] = final_df["PRIMARY_OFFENCE"].fillna("NotApplicable")
final_df["MCI_CATEGORY"] = final_df["MCI_CATEGORY"].fillna("NonMCI")
final_df["OFFENCE"] = final_df["OFFENCE"].fillna("NotApplicable")
final_df["UCR_EXT"] = final_df["UCR_EXT"].fillna("NotApplicable")
final_df["UCR_CODE"] = final_df["UCR_CODE"].fillna("NotApplicable")

In [8]:
final_df.isna().sum()

EVENT_UNIQUE_ID         0
REPORT_DATE_FIXED    7029
OCC_DATE_FIXED       1322
REPORT_YEAR          7029
REPORT_MONTH         7029
REPORT_DAY           7029
REPORT_DOY           7029
REPORT_DOW           7029
REPORT_HOUR          7029
OCC_YEAR              121
OCC_MONTH             121
OCC_DAY               121
OCC_DOY               121
OCC_DOW               121
OCC_HOUR             1322
DIVISION                0
LOCATION_TYPE        7029
PREMISES_TYPE        7029
UCR_CODE                0
UCR_EXT                 0
OFFENCE                 0
MCI_CATEGORY            0
HOOD_158                0
NEIGHBOURHOOD_158       0
LONG_WGS84              0
LAT_WGS84               0
PRIMARY_OFFENCE         0
STATUS                  0
HOMICIDE_TYPE           0
DEATH                   0
INJURIES                0
dtype: int64

After filling majority of `NULL` values we are still left with some, I could not really find a good way of substituiting them so I will be dropping them. This should not affect the analysis much because of the huge number of data I have.

In [38]:
final_df= final_df.dropna(axis=0)

Now checking for duplicates in the data.

In [39]:
final_df.duplicated().sum()

29430

As we can see we have around `~30,000` duplicates! Let's check whether they are actually duplicates or not.

In [40]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
62,GO-20141259762,2014-01-01,2013-12-31,2014.0,January,1.0,1.0,Wednesday,2.0,2013.0,...,Assault,164,Wellington Place,-79.390935,43.649445,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
67,GO-20141259834,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,0.0,2014.0,...,Assault,55,Thorncliffe Park,-79.345795,43.703684,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
63,GO-20141260033,2014-01-01,2013-12-31,2014.0,January,1.0,1.0,Wednesday,2.0,2013.0,...,Assault,144,Morningside Heights,-79.180578,43.806750,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
42,GO-20141260264,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,1.0,2014.0,...,Assault,143,West Rouge,-79.132919,43.780412,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
66,GO-20141260618,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,5.0,2014.0,...,Assault,81,Trinity-Bellwoods,-79.416594,43.654753,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40006,GO-2022995203,2022-05-27,2022-05-22,2022.0,May,27.0,147.0,Friday,7.0,2022.0,...,Auto Theft,23,Pelmo Park-Humberlea,-79.537287,43.717017,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40001,GO-2022995776,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,8.0,2022.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
9807,GO-2022995987,2022-05-27,2022-05-24,2022.0,May,27.0,147.0,Friday,15.0,2022.0,...,Theft Over,159,Etobicoke City Centre,-79.527286,43.634209,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40003,GO-2022997755,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,13.0,2022.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
159668,GO-2022999907,2022-05-27,2022-05-27,2022.0,May,27.0,147.0,Friday,19.0,2022.0,...,Assault,70,South Riverdale,-79.328487,43.659320,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

There seems to be some real duplicates! So we can drop the duplicates!

In [41]:
final_df= final_df.drop_duplicates()

After dropping, we have no more duplicates left as confirmed below!

In [42]:
final_df.duplicated().sum()

0

Just a final check before we can export this final 'clean' copy of the data set.

In [43]:
final_df.sample(10)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
62277,GO-20209027123,2020-10-20,2020-10-20,2020.0,October,20.0,294.0,Tuesday,21.0,2020.0,...,NonMCI,27,York University Heights,-79.500001,43.761057,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
7267,GO-2016892535,2016-05-24,2016-05-24,2016.0,May,24.0,145.0,Tuesday,10.0,2016.0,...,NonMCI,80,Palmerston-Little Italy,-79.419792,43.656826,THEFT UNDER,STOLEN,NotApplicable,0.0,0.0
138365,GO-2021843661,2021-05-07,2021-05-07,2021.0,May,7.0,127.0,Friday,19.0,2021.0,...,Assault,156,Bendale-Glen Andrew,-79.272983,43.772960,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
161725,GO-20221218662,2022-06-27,2022-06-25,2022.0,June,27.0,178.0,Monday,11.0,2022.0,...,Assault,129,Agincourt North,-79.270389,43.807181,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
23723,GO-20158931101,2015-05-28,2015-05-27,2015.0,May,28.0,148.0,Thursday,18.0,2015.0,...,Assault,73,Moss Park,-79.372386,43.658164,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
483,GO-20141622190,2014-03-01,2014-03-01,2014.0,March,1.0,60.0,Saturday,17.0,2014.0,...,Auto Theft,31,Yorkdale-Glen Park,-79.451516,43.724031,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
21135,GO-2015578337,2015-04-08,2015-04-08,2015.0,April,8.0,98.0,Wednesday,7.0,2015.0,...,Assault,168,Downtown Yonge East,-79.374430,43.655251,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
90887,GO-20182140471,2018-11-20,2018-11-20,2018.0,November,20.0,324.0,Tuesday,21.0,2018.0,...,Assault,11,Eringate-Centennial-West Deane,-79.576975,43.653546,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
48391,GO-20161652156,2016-09-17,2016-09-17,2016.0,September,17.0,261.0,Saturday,0.0,2016.0,...,Assault,168,Downtown Yonge East,-79.377145,43.656495,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
44606,GO-20199004656,2019-02-06,2019-02-05,2019.0,February,6.0,37.0,Wednesday,17.0,2019.0,...,NonMCI,36,Newtonbrook West,-79.417820,43.788972,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

In [28]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 344839 entries, 2 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    344839 non-null  object
 1   REPORT_DATE_FIXED  344839 non-null  object
 2   OCC_DATE_FIXED     344839 non-null  object
 3   REPORT_YEAR        344839 non-null  float64
 4   REPORT_MONTH       344839 non-null  object
 5   REPORT_DAY         344839 non-null  float64
 6   REPORT_DOY         344839 non-null  float64
 7   REPORT_DOW         344839 non-null  object
 8   REPORT_HOUR        344839 non-null  float64
 9   OCC_YEAR           344839 non-null  float64
 10  OCC_MONTH          344839 non-null  object
 11  OCC_DAY            344839 non-null  float64
 12  OCC_DOY            344839 non-null  float64
 13  OCC_DOW            344839 non-null  object
 14  OCC_HOUR           344839 non-null  float64
 15  DIVISION           344839 non-null  object
 16  LOCATION_TYPE      344839 non-null  object
 17  PREMISES_TYPE      344839 non-null  object
 18  UCR_CODE           344839 non-null  object
 19  UCR_EXT            344839 non-null  object
 20  OFFENCE            344839 non-null  object
 21  MCI_CATEGORY       344839 non-null  object
 22  HOOD_158           344839 non-null  object
 23  NEIGHBOURHOOD_158  344839 non-null  object
 24  LONG_WGS84         344839 non-null  float64
 25  LAT_WGS84          344839 non-null  float64
 26  PRIMARY_OFFENCE    344839 non-null  object
 27  STATUS             344839 non-null  object
 28  HOMICIDE_TYPE      344839 non-null  object
 29  DEATH              344839 non-null  float64
 30  INJURIES           344839 non-null  float64
dtypes: float64(12), object(19)
memory usage: 84.2+ MB

Other thing I noticed was that all the columns related to year, death, injuries and day etc. are of float data type which doesn't make sense as any of these cannot have decimal places. So I will change the data type to int.

In [44]:

final_df[['REPORT_DAY','REPORT_YEAR','REPORT_DOY','REPORT_HOUR','OCC_YEAR','OCC_DAY','OCC_DOY','OCC_HOUR','DEATH','INJURIES']]=final_df[['REPORT_DAY','REPORT_YEAR','REPORT_DOY','REPORT_HOUR','OCC_YEAR','OCC_DAY','OCC_DOY','OCC_HOUR','DEATH','INJURIES']].astype('int64')

Final check!

In [45]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 344839 entries, 2 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    344839 non-null  object
 1   REPORT_DATE_FIXED  344839 non-null  object
 2   OCC_DATE_FIXED     344839 non-null  object
 3   REPORT_YEAR        344839 non-null  int64
 4   REPORT_MONTH       344839 non-null  object
 5   REPORT_DAY         344839 non-null  int64
 6   REPORT_DOY         344839 non-null  int64
 7   REPORT_DOW         344839 non-null  object
 8   REPORT_HOUR        344839 non-null  int64
 9   OCC_YEAR           344839 non-null  int64
 10  OCC_MONTH          344839 non-null  object
 11  OCC_DAY            344839 non-null  int64
 12  OCC_DOY            344839 non-null  int64
 13  OCC_DOW            344839 non-null  object
 14  OCC_HOUR           344839 non-null  int64
 15  DIVISION           344839 non-null  object
 16  LOCATION_TYPE      344839 non-null  object
 17  PREMISES_TYPE      344839 non-null  object
 18  UCR_CODE           344839 non-null  object
 19  UCR_EXT            344839 non-null  object
 20  OFFENCE            344839 non-null  object
 21  MCI_CATEGORY       344839 non-null  object
 22  HOOD_158           344839 non-null  object
 23  NEIGHBOURHOOD_158  344839 non-null  object
 24  LONG_WGS84         344839 non-null  float64
 25  LAT_WGS84          344839 non-null  float64
 26  PRIMARY_OFFENCE    344839 non-null  object
 27  STATUS             344839 non-null  object
 28  HOMICIDE_TYPE      344839 non-null  object
 29  DEATH              344839 non-null  int64
 30  INJURIES           344839 non-null  int64
dtypes: float64(2), int64(10), object(19)
memory usage: 84.2+ MB

It looks good! I think we can export it into a new file, and we can start our basic EDA.

In [46]:
final_df.to_csv('../Data/FinalData.csv')