<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> Data Cleaning</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 19 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Basic Cleaning](#part1) <br />

### Introduction <a id="intro" />

This notebook aims to merge multiple datasets into one for cleaning and analysis.

Importing all the required libraries.

In [1]:
import pandas as pd #importing pandas library

### Basic Cleaning <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [114]:
"""
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
#Go through all th data files, and fix the columns expecially dates.
"""
final_df=pd.concat(final)
"""

In [23]:
#Reading the csv file
assualt_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQHgpPz79HYfKxX0b09G1JKLFO1V2sbiQNdyk-qRia89zCwZkUA7qM0sN14c57OylgbEkhbHY7nwQzq/pub?output=csv', index_col=0)
autoTheft_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRxjhaKryMUawk21InONxzpSar1SYIziaQ76lTm8SFaAm50aFXWYfdaEI1Hta0hRAFqbJwZLL6z6baI/pub?output=csv',index_col=0)
bicycleTheft_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRzU5u0PXthrm4W6CAJDfoHa5vhPCG-s5KQUOD5juZK1f-miAzsz3GLeYUdU35Suwu45XYuRn-qrTTK/pub?output=csv', index_col=0)
homicide_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSDw48mwirpzvjoBU7x1TH_rPt__F56Y-TPgE3SVCjhqwNbUYTS8t1if0hxicUXJYtdFJwOL18DsHLf/pub?output=csv',index_col=0)
motorTheft_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRVyrTmlerdY1R5YfqYL5eldsa4AA1IQ72N6R3kymyQLfImFQTQMK1MyWz-7l37dK3poN6HRvlKL7Se/pub?output=csv', index_col=0)
robbery_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQT1Rne5rzPDS3p1M0t4-NFwk-r9d7EY2CJlKh-dpEd3E-xY3hTc2GrFvFYfp5xHINKAVxAeJ1cBJrn/pub?output=csv', index_col=0)
shootings_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSbTQjK8RlNoRilD8QvBTwMy_65r0j96Tve5uByYQAYzNNFqA3CV8hacdYniOFO45SFybT12uH_89ET/pub?output=csv',index_col=0)
theftOver_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTQ_2br04HWaC8AG90CNDHmm3fJ_sK-_Xlu7cMuGimISf9MqUib5LzhrHZHBiaDRwWktMnqBmEe7Y0p/pub?output=csv', index_col=0)
breakAndEnter_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTxlHUV_ATJBm4bVUcztek9VCpEAgmMqY6jCsAFv5Ia9FMH_lBDwD07bS4eeyZdmI6COh4Gor-ZfXyh/pub?output=csv',index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df,breakAndEnter_df] 


#Go through all th data files, and fix the columns expecially dates.

final_df=pd.concat(final)

In [24]:
# Checking the data sample
final_df.sample(100)

,CRIME_TYPE,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,REPORT_DATE,OCC_DATE_FIXED,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
164651,Assualt,GO-20221556195,2022-08-13,1.660000e+12,2021-01-01,1.610000e+12,2022.0,August,13.0,225.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10043,Theft,GO-201564648,2015-01-12,1.420000e+12,2015-01-12,1.420000e+12,2015.0,January,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5429,Robbery,GO-20151102929,2015-06-30,1.440000e+12,2015-06-30,1.440000e+12,2015.0,June,30.0,181.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16074,Break and Enter,GO-2016666020,2016-04-19,1.460000e+12,2016-04-19,1.460000e+12,2016.0,April,19.0,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36582,Theft,GO-2018519840,2018-03-22,1.520000e+12,2018-03-19,1.520000e+12,2018.0,March,22.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50285,Break and Enter,GO-20202332334,2020-12-10,1.610000e+12,2020-12-10,1.610000e+12,2020.0,December,10.0,345.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35675,Assualt,GO-2016101003,2016-01-17,1.450000e+12,2016-01-17,1.450000e+12,2016.0,January,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76386,Assualt,GO-2018417514,2018-03-06,1.520000e+12,2018-03-06,1.520000e+12,2018.0,March,6.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23121,Assualt,GO-2015820520,2015-05-17,1.430000e+12,2015-05-17,1.430000e+12,2015.0,May,17.0,137.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44788,Assualt,GO-20161207520,2016-07-10,1.470000e+12,2016-07-10,1.470000e+12,2016.0,July,10.0,192.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data looks to have concatenated well and the number of columns have risen to <b>44!</b> So, I will be dropping some columns which contained either useless data, redundant data or data which are not necessary for my analysis.

In [25]:
# Doesn't make sense
final_df.drop('F_num_removed', axis=1, inplace=True)
final_df.drop('OCC_TIME_RANGE', axis=1, inplace=True)

# Old redundant data 
final_df.drop('NEIGHBOURHOOD_140', axis=1, inplace=True)
final_df.drop('HOOD_140', axis=1, inplace=True)
final_df.drop('REPORT_DATE', axis=1, inplace=True)
final_df.drop('OCC_DATE', axis=1, inplace=True)

# Resetting index since it got mixed up while concatanating 
final_df.reset_index(drop=True)

# Are not going to be used in my analysis
final_df.drop('BIKE_MAKE', axis=1, inplace=True)
final_df.drop('BIKE_MODEL', axis=1, inplace=True)
final_df.drop('BIKE_TYPE', axis=1, inplace=True)
final_df.drop('BIKE_SPEED', axis=1, inplace=True)
final_df.drop('BIKE_COLOUR', axis=1, inplace=True)
final_df.drop('BIKE_COST', axis=1, inplace=True)

In [26]:
# Getting information about the data frame
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 443946 entries, 1 to 62527
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CRIME_TYPE         443946 non-null  object
 1   EVENT_UNIQUE_ID    443946 non-null  object
 2   REPORT_DATE_FIXED  436917 non-null  object
 3   OCC_DATE_FIXED     443946 non-null  object
 4   REPORT_YEAR        436917 non-null  float64
 5   REPORT_MONTH       436917 non-null  object
 6   REPORT_DAY         436917 non-null  float64
 7   REPORT_DOY         436917 non-null  float64
 8   REPORT_DOW         436917 non-null  object
 9   REPORT_HOUR        436917 non-null  float64
 10  OCC_YEAR           443823 non-null  float64
 11  OCC_MONTH          443823 non-null  object
 12  OCC_DAY            443823 non-null  float64
 13  OCC_DOY            443823 non-null  float64
 14  OCC_DOW            443823 non-null  object
 15  OCC_HOUR           442624 non-null  float64
 16  DIVISION           443946 non-null  object
 17  LOCATION_TYPE      436917 non-null  object
 18  PREMISES_TYPE      436917 non-null  object
 19  UCR_CODE           404947 non-null  float64
 20  UCR_EXT            404947 non-null  float64
 21  OFFENCE            404947 non-null  object
 22  MCI_CATEGORY       404947 non-null  object
 23  HOOD_158           443946 non-null  object
 24  NEIGHBOURHOOD_158  443946 non-null  object
 25  LONG_WGS84         443946 non-null  float64
 26  LAT_WGS84          443946 non-null  float64
 27  PRIMARY_OFFENCE    31970 non-null   object
 28  STATUS             31970 non-null   object
 29  HOMICIDE_TYPE      1322 non-null    object
 30  DEATH              5707 non-null    float64
 31  INJURIES           5707 non-null    float64
dtypes: float64(14), object(18)
memory usage: 111.8+ MB

As we can see, after dropping all the unnecessary columns we are left with <b>31</b> columns. We can also observe that there seems to be a lot of `NULL` values. So, let's check for them!

In [27]:
# Checking for the sum of all the NULL values
final_df.isna().sum()

CRIME_TYPE                0
EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      7029
OCC_DATE_FIXED            0
REPORT_YEAR            7029
REPORT_MONTH           7029
REPORT_DAY             7029
REPORT_DOY             7029
REPORT_DOW             7029
REPORT_HOUR            7029
OCC_YEAR                123
OCC_MONTH               123
OCC_DAY                 123
OCC_DOY                 123
OCC_DOW                 123
OCC_HOUR               1322
DIVISION                  0
LOCATION_TYPE          7029
PREMISES_TYPE          7029
UCR_CODE              38999
UCR_EXT               38999
OFFENCE               38999
MCI_CATEGORY          38999
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE      411976
STATUS               411976
HOMICIDE_TYPE        442624
DEATH                438239
INJURIES             438239
dtype: int64

As we can see there are a lot of `NULL` values. After doing some research I realized the `DEATH` and `INJURIES` columns were specific for `Shooting` dataset, and hence the huge amounts of `NULL` values. So, to fix that I will be filling the `NULL` values in these two columns with `0` as this will indicate that no-one was injured or killed in any other types of crimes.

In [28]:
# Filling the NULL values
final_df["DEATH"] = final_df["DEATH"].fillna(0)
final_df["INJURIES"] = final_df["INJURIES"].fillna(0)

 The `HOMICIDE_TYPE` column is also specific to the `Homicide` dataset hence I will be filling the `NULL` values with "N/A". Similarly, `STATUS` and `PRIMARY_OFFENCE` is specific to the `Bike_Theft` data set, so I will be filling the `NULL` values with "N/A". The reason I am not dropping these columns is that even though they are specific to one type of crime, they provide very valuable insight into that crime, so for now I don't have any strong reasons to drop them.

In [29]:
final_df["HOMICIDE_TYPE"] = final_df["HOMICIDE_TYPE"].fillna("NotApplicable")
final_df["STATUS"] = final_df["STATUS"].fillna("NotApplicable")
final_df["PRIMARY_OFFENCE"] = final_df["PRIMARY_OFFENCE"].fillna("NotApplicable")

`OFFENCE`, `UCR_EXIT`and `UCR_CODE` columns have exact same number of `NULL`, which implies that all of them might come from the same data set and after further investigation, that was the case. They were `NULL` due to them not being present in the `Bike Theft` data set, since they're not a required category for them we can fill these with `N/A` as well.

In [30]:
final_df["MCI_CATEGORY"] = final_df["MCI_CATEGORY"].fillna("NonMCI")
final_df["OFFENCE"] = final_df["OFFENCE"].fillna("NotApplicable")
final_df["UCR_EXT"] = final_df["UCR_EXT"].fillna("NotApplicable")
final_df["UCR_CODE"] = final_df["UCR_CODE"].fillna("NotApplicable")
final_df["LOCATION_TYPE"] = final_df["LOCATION_TYPE"].fillna("NotApplicable")
final_df["PREMISES_TYPE"] = final_df["PREMISES_TYPE"].fillna("NotApplicable")

`REPORT_DATE_FIXED` has so many `NULL` values as `Homicide` and `Shootings` did not have any report dates or information. I am assuming that is the case as `Homicide` and `Shootings` both are severe crimes which usually don't have a difference in Occurence and reporting times. So we can fill some of the `NULL` values with the `OCC_DATE_FIXED`.

In [31]:
final_df["REPORT_DATE_FIXED"] = final_df["REPORT_DATE_FIXED"].fillna(final_df["OCC_DATE_FIXED"])

Sanity check!

In [32]:
final_df.isna().sum()

CRIME_TYPE              0
EVENT_UNIQUE_ID         0
REPORT_DATE_FIXED       0
OCC_DATE_FIXED          0
REPORT_YEAR          7029
REPORT_MONTH         7029
REPORT_DAY           7029
REPORT_DOY           7029
REPORT_DOW           7029
REPORT_HOUR          7029
OCC_YEAR              123
OCC_MONTH             123
OCC_DAY               123
OCC_DOY               123
OCC_DOW               123
OCC_HOUR             1322
DIVISION                0
LOCATION_TYPE           0
PREMISES_TYPE           0
UCR_CODE                0
UCR_EXT                 0
OFFENCE                 0
MCI_CATEGORY            0
HOOD_158                0
NEIGHBOURHOOD_158       0
LONG_WGS84              0
LAT_WGS84               0
PRIMARY_OFFENCE         0
STATUS                  0
HOMICIDE_TYPE           0
DEATH                   0
INJURIES                0
dtype: int64

Now checking for duplicates in the data.

In [33]:
final_df.duplicated().sum()

29619

As we can see we have around `~30,000` duplicates! Let's check whether they are actually duplicates or not.

In [34]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

,CRIME_TYPE,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
55,Homicide,GO-2004734705,2004-12-01,2004-12-01,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,172,Dovercourt Village,-79.428717,43.669298,NotApplicable,NotApplicable,Stabbing,0.0,0.0
108,Homicide,GO-20051068304,2005-08-07,2005-08-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,71,Cabbagetown-South St.James Town,-79.375516,43.665735,NotApplicable,NotApplicable,Shooting,0.0,0.0
125,Homicide,GO-20051156513,2005-09-16,2005-09-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,5,Elms-Old Rexdale,-79.549360,43.727283,NotApplicable,NotApplicable,Shooting,0.0,0.0
124,Homicide,GO-20051156513,2005-09-16,2005-09-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,5,Elms-Old Rexdale,-79.549360,43.727283,NotApplicable,NotApplicable,Shooting,0.0,0.0
131,Homicide,GO-20051265274,2005-10-23,2005-10-23,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,2,Mount Olive-Silverstone-Jamestown,-79.591700,43.736767,NotApplicable,NotApplicable,Shooting,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40006,Theft,GO-2022995203,2022-05-27,2022-05-22,2022.0,May,27.0,147.0,Friday,7.0,...,Auto Theft,23,Pelmo Park-Humberlea,-79.537287,43.717017,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40001,Theft,GO-2022995776,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,8.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
9807,Theft,GO-2022995987,2022-05-27,2022-05-24,2022.0,May,27.0,147.0,Friday,15.0,...,Theft Over,159,Etobicoke City Centre,-79.527286,43.634209,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40003,Theft,GO-2022997755,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,13.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
159668,Assualt,GO-2022999907,2022-05-27,2022-05-27,2022.0,May,27.0,147.0,Friday,19.0,...,Assault,70,South Riverdale,-79.328487,43.659320,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

There seems to be some real duplicates! So we can drop the duplicates!

In [35]:
final_df= final_df.drop_duplicates()

After dropping, we have no more duplicates left as confirmed below!

In [36]:
final_df.duplicated().sum()

0

Just a final check before we can export this final 'clean' copy of the data set.

In [37]:
final_df.sample(1000)

,CRIME_TYPE,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
152612,Assualt,GO-2022128497,2022-01-20,2022-01-20,2022.0,January,20.0,20.0,Thursday,14.0,...,Assault,160,Mimico-Queensway,-79.514755,43.609206,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
17250,Break and Enter,GO-20161109091,2016-06-25,2016-06-25,2016.0,June,25.0,177.0,Saturday,5.0,...,Break and Enter,39,Bedford Park-Nortown,-79.424056,43.727656,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
30574,Theft,GO-20171294785,2017-07-19,2017-07-18,2017.0,July,19.0,200.0,Wednesday,10.0,...,NonMCI,158,Islington,-79.538767,43.652208,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
3958,Theft,GO-2015272506,2015-02-15,2015-02-15,2015.0,February,15.0,46.0,Sunday,17.0,...,Auto Theft,25,Glenfield-Jane Heights,-79.516318,43.743436,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
145336,Assualt,GO-20211694529,2021-09-05,2021-09-04,2021.0,September,5.0,248.0,Sunday,1.0,...,Assault,36,Newtonbrook West,-79.427540,43.778280,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160019,Assualt,GO-20221036844,2022-06-01,2022-06-01,2022.0,June,1.0,152.0,Wednesday,20.0,...,Assault,168,Downtown Yonge East,-79.383107,43.661366,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
58786,Assualt,GO-2017646764,2017-04-12,2017-04-12,2017.0,April,12.0,102.0,Wednesday,16.0,...,Assault,169,Bay-Cloverhill,-79.386775,43.663353,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
166542,Assualt,GO-20221771388,2022-09-12,2022-09-11,2022.0,September,12.0,255.0,Monday,3.0,...,Assault,30,Brookhaven-Amesbury,-79.488977,43.697707,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
27541,Theft,GO-2017406934,2017-03-06,2017-03-05,2017.0,March,6.0,65.0,Monday,8.0,...,NonMCI,57,Broadview North,-79.350869,43.687964,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
48323,Break and Enter,GO-20201586919,2020-08-23,2020-08-19,2020.0,August,23.0,236.0,Sunday,13.0,...,Break and Enter,70,South Riverdale,-79.352239,43.664569,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

In [38]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414327 entries, 1 to 62527
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CRIME_TYPE         414327 non-null  object
 1   EVENT_UNIQUE_ID    414327 non-null  object
 2   REPORT_DATE_FIXED  414327 non-null  object
 3   OCC_DATE_FIXED     414327 non-null  object
 4   REPORT_YEAR        407375 non-null  float64
 5   REPORT_MONTH       407375 non-null  object
 6   REPORT_DAY         407375 non-null  float64
 7   REPORT_DOY         407375 non-null  float64
 8   REPORT_DOW         407375 non-null  object
 9   REPORT_HOUR        407375 non-null  float64
 10  OCC_YEAR           414212 non-null  float64
 11  OCC_MONTH          414212 non-null  object
 12  OCC_DAY            414212 non-null  float64
 13  OCC_DOY            414212 non-null  float64
 14  OCC_DOW            414212 non-null  object
 15  OCC_HOUR           413082 non-null  float64
 16  DIVISION           414327 non-null  object
 17  LOCATION_TYPE      414327 non-null  object
 18  PREMISES_TYPE      414327 non-null  object
 19  UCR_CODE           414327 non-null  object
 20  UCR_EXT            414327 non-null  object
 21  OFFENCE            414327 non-null  object
 22  MCI_CATEGORY       414327 non-null  object
 23  HOOD_158           414327 non-null  object
 24  NEIGHBOURHOOD_158  414327 non-null  object
 25  LONG_WGS84         414327 non-null  float64
 26  LAT_WGS84          414327 non-null  float64
 27  PRIMARY_OFFENCE    414327 non-null  object
 28  STATUS             414327 non-null  object
 29  HOMICIDE_TYPE      414327 non-null  object
 30  DEATH              414327 non-null  float64
 31  INJURIES           414327 non-null  float64
dtypes: float64(12), object(20)
memory usage: 104.3+ MB

Other thing I noticed was that all the columns related to year, death, injuries and day etc. are of float data type which doesn't make sense as any of these cannot have decimal places. So I will change the data type to int.

In [39]:

final_df[['REPORT_DAY',
          'REPORT_YEAR',
          'REPORT_DOY',
          'REPORT_HOUR',
          'OCC_YEAR',
          'OCC_DAY',
          'OCC_DOY',
          'OCC_HOUR',
          'DEATH',
          'INJURIES']]=final_df[['REPORT_DAY',
                                 'REPORT_YEAR',
                                 'REPORT_DOY',
                                 'REPORT_HOUR',
                                 'OCC_YEAR',
                                 'OCC_DAY',
                                 'OCC_DOY',
                                 'OCC_HOUR',
                                 'DEATH',
                                 'INJURIES']].astype('Int64')

Final check!

In [40]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414327 entries, 1 to 62527
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CRIME_TYPE         414327 non-null  object
 1   EVENT_UNIQUE_ID    414327 non-null  object
 2   REPORT_DATE_FIXED  414327 non-null  object
 3   OCC_DATE_FIXED     414327 non-null  object
 4   REPORT_YEAR        407375 non-null  Int64
 5   REPORT_MONTH       407375 non-null  object
 6   REPORT_DAY         407375 non-null  Int64
 7   REPORT_DOY         407375 non-null  Int64
 8   REPORT_DOW         407375 non-null  object
 9   REPORT_HOUR        407375 non-null  Int64
 10  OCC_YEAR           414212 non-null  Int64
 11  OCC_MONTH          414212 non-null  object
 12  OCC_DAY            414212 non-null  Int64
 13  OCC_DOY            414212 non-null  Int64
 14  OCC_DOW            414212 non-null  object
 15  OCC_HOUR           413082 non-null  Int64
 16  DIVISION           414327 non-null  object
 17  LOCATION_TYPE      414327 non-null  object
 18  PREMISES_TYPE      414327 non-null  object
 19  UCR_CODE           414327 non-null  object
 20  UCR_EXT            414327 non-null  object
 21  OFFENCE            414327 non-null  object
 22  MCI_CATEGORY       414327 non-null  object
 23  HOOD_158           414327 non-null  object
 24  NEIGHBOURHOOD_158  414327 non-null  object
 25  LONG_WGS84         414327 non-null  float64
 26  LAT_WGS84          414327 non-null  float64
 27  PRIMARY_OFFENCE    414327 non-null  object
 28  STATUS             414327 non-null  object
 29  HOMICIDE_TYPE      414327 non-null  object
 30  DEATH              414327 non-null  Int64
 31  INJURIES           414327 non-null  Int64
dtypes: Int64(10), float64(2), object(20)
memory usage: 108.3+ MB

It looks good! I think we can export it into a new file, and we can start our basic EDA.

In [41]:
final_df.to_csv('../Data/FinalData.csv')