<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> Data Cleaning</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Basic Cleaning](#part1) <br />

### Introduction <a id="intro" />

This notebook aims to merge multiple datasets into one for cleaning and analysis.

Importing all the required libraries.

In [36]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library

### Basic Cleaning <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [37]:
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
Go through all th data files, and fix the columns expecially dates.regfgf
fgsdf
wwww
subin

"""
#HEllo World.;

final_df=pd.concat(final)

In [38]:
final_df.sample(100)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,REPORT_DATE,OCC_DATE_FIXED,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
26765,GO-20201192178,2020-06-28,1.593320e+12,2020-06-28,1.593320e+12,2020.0,June,28.0,180.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145309,GO-20211692862,2021-09-04,1.630730e+12,2021-09-04,1.630730e+12,2021.0,September,4.0,247.0,Saturday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17651,GO-2015105746,2015-01-19,1.421640e+12,2015-01-19,1.421640e+12,2015.0,January,19.0,19.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73196,GO-20189063,2018-01-02,1.514870e+12,2018-01-01,1.514780e+12,2018.0,January,2.0,2.0,Tuesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146926,GO-20211897115,2021-10-03,1.633230e+12,2021-10-02,1.633150e+12,2021.0,October,3.0,276.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74898,GO-20229013090,2022-04-13,1.649820e+12,2022-04-08,1.649390e+12,2022.0,April,13.0,103.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170830,GO-20222270169,2022-11-21,1.669010e+12,2022-11-21,1.669010e+12,2022.0,November,21.0,325.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19675,GO-2015383448,2015-03-06,1.425620e+12,2015-02-26,1.424930e+12,2015.0,March,6.0,65.0,Friday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14858,GO-20173083812,2017-11-27,1.511760e+12,2017-11-27,1.511760e+12,2017.0,November,27.0,331.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44516,GO-20161176714,2016-07-05,1.467690e+12,2016-07-05,1.467690e+12,2016.0,July,5.0,187.0,Tuesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data looks to have concatenated well and the number of columns have risen to <b>43!</b> So, I will be dropping some columns which contained either useless data, redundant data or data which is not necessary for my analysis.

In [39]:
# Doesn't make sense
final_df.drop('F_num_removed', axis=1, inplace=True)
final_df.drop('OCC_TIME_RANGE', axis=1, inplace=True)

# Old redundant data 
final_df.drop('NEIGHBOURHOOD_140', axis=1, inplace=True)
final_df.drop('HOOD_140', axis=1, inplace=True)
final_df.drop('REPORT_DATE', axis=1, inplace=True)
final_df.drop('OCC_DATE', axis=1, inplace=True)

# Resetting index since it got mixed up while concatanating 
final_df.reset_index(drop=True)

# Are not going to be used in my analysis
final_df.drop('BIKE_MAKE', axis=1, inplace=True)
final_df.drop('BIKE_MODEL', axis=1, inplace=True)
final_df.drop('BIKE_TYPE', axis=1, inplace=True)
final_df.drop('BIKE_SPEED', axis=1, inplace=True)
final_df.drop('BIKE_COLOUR', axis=1, inplace=True)
final_df.drop('BIKE_COST', axis=1, inplace=True)

In [40]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381419 entries, 1 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    381419 non-null  object
 1   REPORT_DATE_FIXED  374390 non-null  object
 2   OCC_DATE_FIXED     381419 non-null  object
 3   REPORT_YEAR        374390 non-null  float64
 4   REPORT_MONTH       374390 non-null  object
 5   REPORT_DAY         374390 non-null  float64
 6   REPORT_DOY         374390 non-null  float64
 7   REPORT_DOW         374390 non-null  object
 8   REPORT_HOUR        374390 non-null  float64
 9   OCC_YEAR           381298 non-null  float64
 10  OCC_MONTH          381298 non-null  object
 11  OCC_DAY            381298 non-null  float64
 12  OCC_DOY            381298 non-null  float64
 13  OCC_DOW            381298 non-null  object
 14  OCC_HOUR           380097 non-null  float64
 15  DIVISION           381419 non-null  object
 16  LOCATION_TYPE      374390 non-null  object
 17  PREMISES_TYPE      374390 non-null  object
 18  UCR_CODE           342420 non-null  float64
 19  UCR_EXT            342420 non-null  float64
 20  OFFENCE            342420 non-null  object
 21  MCI_CATEGORY       342420 non-null  object
 22  HOOD_158           381419 non-null  object
 23  NEIGHBOURHOOD_158  381419 non-null  object
 24  LONG_WGS84         381419 non-null  float64
 25  LAT_WGS84          381419 non-null  float64
 26  PRIMARY_OFFENCE    31970 non-null   object
 27  STATUS             31970 non-null   object
 28  HOMICIDE_TYPE      1322 non-null    object
 29  DEATH              5707 non-null    float64
 30  INJURIES           5707 non-null    float64
dtypes: float64(14), object(17)
memory usage: 93.1+ MB

As we can see, after dropping all the unnecessary columns we are left with <b>31</b> columns. We can also observe that there seems to be a lot of `NULL` values. So, let's check for them!

In [41]:
final_df.isna().sum()

EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      7029
OCC_DATE_FIXED            0
REPORT_YEAR            7029
REPORT_MONTH           7029
REPORT_DAY             7029
REPORT_DOY             7029
REPORT_DOW             7029
REPORT_HOUR            7029
OCC_YEAR                121
OCC_MONTH               121
OCC_DAY                 121
OCC_DOY                 121
OCC_DOW                 121
OCC_HOUR               1322
DIVISION                  0
LOCATION_TYPE          7029
PREMISES_TYPE          7029
UCR_CODE              38999
UCR_EXT               38999
OFFENCE               38999
MCI_CATEGORY          38999
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE      349449
STATUS               349449
HOMICIDE_TYPE        380097
DEATH                375712
INJURIES             375712
dtype: int64

As we can see there are a lot of `NULL` values. After doing some research I realized the `DEATH` and `INJURIES` columns were specific for `Shooting` dataset, and hence the huge amounts of `NULL` values. So, to fix that I will be filling the `NULL` values in these two columns with `0` as this will indicate that no-one was injured or killed in any other types of crimes. The `HOMICIDE_TYPE` column is also specific to the `Homicide` dataset hence I will be filling the `NULL` values with "N/A". Similarly, `STATUS` and `PRIMARY_OFFENCE` is specific to the `Bike_Theft` data set, so I will be filling the `NULL` values wiht "N/A". The reason I am not dropping these columns is that even though they are specific to one type of crime, they provide very valuable insight into that crime, so for now I don't have any strong reasons to drop them.
`OFFENCE`,`UCR_EXIT`and `UCR_CODE` columns have exact same number of `NULL`, which implies that all of them might come from the same data set and after further investigation that was the case. They were `NULL` due to them not being present in the `Bike Theft` data set, since they're not a required category for them we can fill these with `N/A` as well.
`REPORT_DATE_FIXED` has so many `NULL` values as `Homicide` and `Shootings` did not have any report dates or information. I am assuming that is the case as `Homicide` and `Shootings` both are severe crimes which usually don't have a difference in Occurence and reporting times. So we can fill some of the `NULL` values with the `OCC_DATE_FIXED`.

In [42]:
# Filling the NULL values
final_df["DEATH"] = final_df["DEATH"].fillna(0)
final_df["INJURIES"] = final_df["INJURIES"].fillna(0)
final_df["HOMICIDE_TYPE"] = final_df["HOMICIDE_TYPE"].fillna("NotApplicable")
final_df["STATUS"] = final_df["STATUS"].fillna("NotApplicable")
final_df["PRIMARY_OFFENCE"] = final_df["PRIMARY_OFFENCE"].fillna("NotApplicable")
final_df["MCI_CATEGORY"] = final_df["MCI_CATEGORY"].fillna("NonMCI")
final_df["OFFENCE"] = final_df["OFFENCE"].fillna("NotApplicable")
final_df["UCR_EXT"] = final_df["UCR_EXT"].fillna("NotApplicable")
final_df["UCR_CODE"] = final_df["UCR_CODE"].fillna("NotApplicable")
final_df["LOCATION_TYPE"] = final_df["LOCATION_TYPE"].fillna("NotApplicable")
final_df["PREMISES_TYPE"] = final_df["PREMISES_TYPE"].fillna("NotApplicable")
final_df["REPORT_DATE_FIXED"] = final_df["REPORT_DATE_FIXED"].fillna("OCC_DATE_FIXED")

#air_traffic_clean.fillna(method="ffill",inplace=True)

In [43]:
final_df.isna().sum()

EVENT_UNIQUE_ID         0
REPORT_DATE_FIXED       0
OCC_DATE_FIXED          0
REPORT_YEAR          7029
REPORT_MONTH         7029
REPORT_DAY           7029
REPORT_DOY           7029
REPORT_DOW           7029
REPORT_HOUR          7029
OCC_YEAR              121
OCC_MONTH             121
OCC_DAY               121
OCC_DOY               121
OCC_DOW               121
OCC_HOUR             1322
DIVISION                0
LOCATION_TYPE           0
PREMISES_TYPE           0
UCR_CODE                0
UCR_EXT                 0
OFFENCE                 0
MCI_CATEGORY            0
HOOD_158                0
NEIGHBOURHOOD_158       0
LONG_WGS84              0
LAT_WGS84               0
PRIMARY_OFFENCE         0
STATUS                  0
HOMICIDE_TYPE           0
DEATH                   0
INJURIES                0
dtype: int64

After filling majority of `NULL` values we are still left with some, I could not really find a good way of substituiting them so I will be dropping them. This should not affect the analysis much because of the huge number of data I have.

Now checking for duplicates in the data.

In [44]:
final_df.duplicated().sum()

29515

As we can see we have around `~30,000` duplicates! Let's check whether they are actually duplicates or not.

In [45]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
55,GO-2004734705,OCC_DATE_FIXED,2004.12.01,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,NonMCI,172,Dovercourt Village,-79.428717,43.669298,NotApplicable,NotApplicable,Stabbing,0.0,0.0
108,GO-20051068304,OCC_DATE_FIXED,2005.08.07,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NonMCI,71,Cabbagetown-South St.James Town,-79.375516,43.665735,NotApplicable,NotApplicable,Shooting,0.0,0.0
125,GO-20051156513,OCC_DATE_FIXED,2005.09.16,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NonMCI,5,Elms-Old Rexdale,-79.549360,43.727283,NotApplicable,NotApplicable,Shooting,0.0,0.0
124,GO-20051156513,OCC_DATE_FIXED,2005.09.16,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NonMCI,5,Elms-Old Rexdale,-79.549360,43.727283,NotApplicable,NotApplicable,Shooting,0.0,0.0
131,GO-20051265274,OCC_DATE_FIXED,2005.10.23,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NonMCI,2,Mount Olive-Silverstone-Jamestown,-79.591700,43.736767,NotApplicable,NotApplicable,Shooting,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40006,GO-2022995203,2022-05-27,2022-05-22,2022.0,May,27.0,147.0,Friday,7.0,2022.0,...,Auto Theft,23,Pelmo Park-Humberlea,-79.537287,43.717017,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40001,GO-2022995776,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,8.0,2022.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
9807,GO-2022995987,2022-05-27,2022-05-24,2022.0,May,27.0,147.0,Friday,15.0,2022.0,...,Theft Over,159,Etobicoke City Centre,-79.527286,43.634209,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
40003,GO-2022997755,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,13.0,2022.0,...,Auto Theft,108,Briar Hill-Belgravia,-79.449333,43.695892,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
159668,GO-2022999907,2022-05-27,2022-05-27,2022.0,May,27.0,147.0,Friday,19.0,2022.0,...,Assault,70,South Riverdale,-79.328487,43.659320,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

There seems to be some real duplicates! So we can drop the duplicates!

In [46]:
final_df= final_df.drop_duplicates()

After dropping, we have no more duplicates left as confirmed below!

In [47]:
final_df.duplicated().sum()

0

Just a final check before we can export this final 'clean' copy of the data set.

In [48]:
final_df.sample(10)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
58167,GO-2017575210,2017-04-01,2017-04-01,2017.0,April,1.0,91.0,Saturday,18.0,2017.0,...,Assault,42,Banbury-Don Mills,-79.329019,43.724673,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
135541,GO-2021442895,2021-03-10,2021-03-10,2021.0,March,10.0,69.0,Wednesday,6.0,2021.0,...,Assault,138,Eglinton East,-79.242864,43.735491,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
18526,GO-2019696204,2019-04-17,2019-04-17,2019.0,April,17.0,107.0,Wednesday,19.0,2019.0,...,NonMCI,83,Dufferin Grove,-79.436601,43.655748,THEFT UNDER,STOLEN,NotApplicable,0.0,0.0
64093,GO-20171284695,2017-07-17,2017-07-17,2017.0,July,17.0,198.0,Monday,21.0,2017.0,...,Assault,164,Wellington Place,-79.392084,43.648845,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
45181,GO-20222364533,2022-12-04,2022-12-04,2022.0,December,4.0,338.0,Sunday,8.0,2022.0,...,Auto Theft,103,Lawrence Park South,-79.408873,43.712685,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
59005,GO-2017667257,2017-04-16,2017-04-16,2017.0,April,16.0,106.0,Sunday,4.0,2017.0,...,Assault,85,South Parkdale,-79.438592,43.636656,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
48538,GO-20191277904,2019-07-09,2019-06-27,2019.0,July,9.0,190.0,Tuesday,6.0,2019.0,...,NonMCI,155,Downsview,-79.477123,43.747469,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
1297,GO-2015740618,2015-05-04,2015-05-04,2015.0,May,4.0,124.0,Monday,15.0,2015.0,...,Theft Over,46,Pleasant View,-79.337141,43.786009,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
37049,GO-20189011537,2018-04-13,2018-04-12,2018.0,April,13.0,103.0,Friday,16.0,2018.0,...,NonMCI,162,West Queen West,-79.413785,43.644704,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
44755,GO-2019278750,2019-02-13,2019-02-12,2019.0,February,13.0,44.0,Wednesday,14.0,2019.0,...,NonMCI,150,Fenside-Parkwoods,-79.344647,43.764632,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

In [49]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 351904 entries, 1 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    351904 non-null  object
 1   REPORT_DATE_FIXED  351904 non-null  object
 2   OCC_DATE_FIXED     351904 non-null  object
 3   REPORT_YEAR        344952 non-null  float64
 4   REPORT_MONTH       344952 non-null  object
 5   REPORT_DAY         344952 non-null  float64
 6   REPORT_DOY         344952 non-null  float64
 7   REPORT_DOW         344952 non-null  object
 8   REPORT_HOUR        344952 non-null  float64
 9   OCC_YEAR           351791 non-null  float64
 10  OCC_MONTH          351791 non-null  object
 11  OCC_DAY            351791 non-null  float64
 12  OCC_DOY            351791 non-null  float64
 13  OCC_DOW            351791 non-null  object
 14  OCC_HOUR           350659 non-null  float64
 15  DIVISION           351904 non-null  object
 16  LOCATION_TYPE      351904 non-null  object
 17  PREMISES_TYPE      351904 non-null  object
 18  UCR_CODE           351904 non-null  object
 19  UCR_EXT            351904 non-null  object
 20  OFFENCE            351904 non-null  object
 21  MCI_CATEGORY       351904 non-null  object
 22  HOOD_158           351904 non-null  object
 23  NEIGHBOURHOOD_158  351904 non-null  object
 24  LONG_WGS84         351904 non-null  float64
 25  LAT_WGS84          351904 non-null  float64
 26  PRIMARY_OFFENCE    351904 non-null  object
 27  STATUS             351904 non-null  object
 28  HOMICIDE_TYPE      351904 non-null  object
 29  DEATH              351904 non-null  float64
 30  INJURIES           351904 non-null  float64
dtypes: float64(12), object(19)
memory usage: 85.9+ MB

Other thing I noticed was that all the columns related to year, death, injuries and day etc. are of float data type which doesn't make sense as any of these cannot have decimal places. So I will change the data type to int.

In [50]:

final_df[['REPORT_DAY','REPORT_YEAR','REPORT_DOY','REPORT_HOUR','OCC_YEAR','OCC_DAY','OCC_DOY','OCC_HOUR','DEATH','INJURIES']]=final_df[['REPORT_DAY','REPORT_YEAR','REPORT_DOY','REPORT_HOUR','OCC_YEAR','OCC_DAY','OCC_DOY','OCC_HOUR','DEATH','INJURIES']].astype('Int64')

Final check!

In [51]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 351904 entries, 1 to 10745
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    351904 non-null  object
 1   REPORT_DATE_FIXED  351904 non-null  object
 2   OCC_DATE_FIXED     351904 non-null  object
 3   REPORT_YEAR        344952 non-null  Int64
 4   REPORT_MONTH       344952 non-null  object
 5   REPORT_DAY         344952 non-null  Int64
 6   REPORT_DOY         344952 non-null  Int64
 7   REPORT_DOW         344952 non-null  object
 8   REPORT_HOUR        344952 non-null  Int64
 9   OCC_YEAR           351791 non-null  Int64
 10  OCC_MONTH          351791 non-null  object
 11  OCC_DAY            351791 non-null  Int64
 12  OCC_DOY            351791 non-null  Int64
 13  OCC_DOW            351791 non-null  object
 14  OCC_HOUR           350659 non-null  Int64
 15  DIVISION           351904 non-null  object
 16  LOCATION_TYPE      351904 non-null  object
 17  PREMISES_TYPE      351904 non-null  object
 18  UCR_CODE           351904 non-null  object
 19  UCR_EXT            351904 non-null  object
 20  OFFENCE            351904 non-null  object
 21  MCI_CATEGORY       351904 non-null  object
 22  HOOD_158           351904 non-null  object
 23  NEIGHBOURHOOD_158  351904 non-null  object
 24  LONG_WGS84         351904 non-null  float64
 25  LAT_WGS84          351904 non-null  float64
 26  PRIMARY_OFFENCE    351904 non-null  object
 27  STATUS             351904 non-null  object
 28  HOMICIDE_TYPE      351904 non-null  object
 29  DEATH              351904 non-null  Int64
 30  INJURIES           351904 non-null  Int64
dtypes: Int64(10), float64(2), object(19)
memory usage: 89.3+ MB

It looks good! I think we can export it into a new file, and we can start our basic EDA.

In [52]:
final_df.to_csv('../Data/FinalData.csv')