<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Part 1 - Basic Analysis](#part1) <br />
    - [1.1](#1.1) <br />
    - [1.2](#1.2) <br />
- [Part 2 - Statistical Analysis](#part2) <br />
    - [2.1](#2.1) <br />
    - [2.2](#2.2) <br />
- [Part 3 - Advanced Statistical Analysis](#part3)<br />
    - [3.1](#3.1) <br />
    - [3.2](#3.2) <br />
- [Summary](#summary)

### Introduction <a id="intro" />

This notebook aims to conduct advanced statistical analysis on the cleaned mosquito dataset. We will be trying to find the relationships between different variables and their effect on the mosquito number using different models. We will also be looking at the statistical significance between each variable as well.

Importing all the required libraries.

In [26]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library 
import statsmodels.api as sm #importing statsmodel library 
from scipy import stats #importing scientific py library 
import datetime

### Part 1 - Basic Analysis <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [15]:
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
Go through all th data files, and fix the columns expecially dates.regfgf
fgsdf
wwww
subin

"""
#HEllo World.;

#final_df=pd.concat(final)

#final_df.sample(100)

,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
56377,GO-2017339439,1.487826e+12,1487826000000,2017.0,February,23.0,54.0,Thursday,15.0,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21750,GO-2015655125,1.429502e+12,1429502400000,2015.0,April,20.0,110.0,Monday,18.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25841,GO-20169014253,1.480914e+12,1480654800000,2016.0,December,5.0,340.0,Monday,16.0,2016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49384,GO-20199025231,1.565150e+12,1565150400000,2019.0,August,7.0,219.0,Wednesday,15.0,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
784,GO-20072002015,NaN,1183780800000,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Afternoon,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26992,GO-20219015145,1.624160e+12,1624160000000.0,2021.0,June,20.0,171.0,Sunday,18.0,2021.0,...,OT,10.0,BLK,300.0,STOLEN,NaN,NaN,NaN,NaN,NaN
6453,GO-20151940601,1.447218e+12,1447218000000,2015.0,November,11.0,315.0,Wednesday,21.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4263,GO-2015491690,1.427170e+12,1427083200000,2015.0,March,24.0,83.0,Tuesday,9.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4757,GO-2015837515,1.432094e+12,1432008000000,2015.0,May,20.0,140.0,Wednesday,0.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75243,GO-20229015007,1.651032e+12,1651032000000,2022.0,April,27.0,117.0,Wednesday,22.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
assualt_df.sample(10)

,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,HOOD_140,NEIGHBOURHOOD_140,LONG_WGS84,LAT_WGS84
OBJECTID,,,,,,,,,,,,,,,,,,,,,
30470,GO-20151719881,1444017600000,1444017600000,2015,October,5,278,Monday,17,2015.0,...,1430,100,Assault,Assault,31,Yorkdale-Glen Park,31,Yorkdale-Glen Park (31),-79.456169,43.720456
80141,GO-2018878452,1526356800000,1526270400000,2018,May,15,135,Tuesday,19,2018.0,...,1430,100,Assault,Assault,46,Pleasant View,46,Pleasant View (46),-79.331409,43.793100
143073,GO-20211422546,1627444800000,1627444800000,2021,July,28,209,Wednesday,19,2021.0,...,1420,100,Assault With Weapon,Assault,86,Roncesvalles,86,Roncesvalles (86),-79.450686,43.654267
92681,GO-20182349926,1545541200000,1488344400000,2018,December,23,357,Sunday,21,2017.0,...,1420,100,Assault With Weapon,Assault,35,Westminster-Branson,35,Westminster-Branson (35),-79.442529,43.771990
16559,GO-20143545516,1419397200000,1419397200000,2014,December,24,358,Wednesday,22,2014.0,...,1430,100,Assault,Assault,168,Downtown Yonge East,75,Church-Yonge Corridor (75),-79.377145,43.656495
136125,GO-2021520406,1616299200000,1616299200000,2021,March,21,80,Sunday,16,2021.0,...,1480,110,Administering Noxious Thing,Assault,95,Annex,95,Annex (95),-79.397911,43.669227
28951,GO-20151531664,1441425600000,1441425600000,2015,September,5,248,Saturday,7,2015.0,...,1430,100,Assault,Assault,110,Keelesdale-Eglinton West,110,Keelesdale-Eglinton West (110),-79.475322,43.688116
132584,GO-202113190,1609650000000,1609650000000,2021,January,3,3,Sunday,11,2021.0,...,1420,110,Assault Bodily Harm,Assault,121,Oakridge,121,Oakridge (121),-79.279513,43.703213
77450,GO-2018551099,1522123200000,1521432000000,2018,March,27,86,Tuesday,10,2018.0,...,1430,100,Assault,Assault,61,Taylor-Massey,61,Taylor-Massey (61),-79.302112,43.691992
66956,GO-20171621353,1504756800000,1504324800000,2017,September,7,250,Thursday,14,2017.0,...,1430,100,Assault,Assault,166,St Lawrence-East Bayfront-The Islands,77,Waterfront Communities-The Island (77),-79.377909,43.643211

In [25]:
assualt_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 173238 entries, 1 to 173238
Data columns (total 28 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    173238 non-null  object
 1   REPORT_DATE        173238 non-null  int64
 2   OCC_DATE           173238 non-null  int64
 3   REPORT_YEAR        173238 non-null  int64
 4   REPORT_MONTH       173238 non-null  object
 5   REPORT_DAY         173238 non-null  int64
 6   REPORT_DOY         173238 non-null  int64
 7   REPORT_DOW         173238 non-null  object
 8   REPORT_HOUR        173238 non-null  int64
 9   OCC_YEAR           173144 non-null  float64
 10  OCC_MONTH          173144 non-null  object
 11  OCC_DAY            173144 non-null  float64
 12  OCC_DOY            173144 non-null  float64
 13  OCC_DOW            173144 non-null  object
 14  OCC_HOUR           173238 non-null  int64
 15  DIVISION           173238 non-null  object
 16  LOCATION_TYPE      173238 non-null  object
 17  PREMISES_TYPE      173238 non-null  object
 18  UCR_CODE           173238 non-null  int64
 19  UCR_EXT            173238 non-null  int64
 20  OFFENCE            173238 non-null  object
 21  MCI_CATEGORY       173238 non-null  object
 22  HOOD_158           173238 non-null  object
 23  NEIGHBOURHOOD_158  173238 non-null  object
 24  HOOD_140           173238 non-null  object
 25  NEIGHBOURHOOD_140  173238 non-null  object
 26  LONG_WGS84         173238 non-null  float64
 27  LAT_WGS84          173238 non-null  float64
dtypes: float64(5), int64(9), object(14)
memory usage: 38.3+ MB

In [ ]:
assualt_df[]
dt = datetime.datetime.fromtimestamp(0)

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381419 entries, 1 to 10745
Data columns (total 41 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    381419 non-null  object
 1   REPORT_DATE        374390 non-null  float64
 2   OCC_DATE           381419 non-null  object
 3   REPORT_YEAR        374390 non-null  float64
 4   REPORT_MONTH       374390 non-null  object
 5   REPORT_DAY         374390 non-null  float64
 6   REPORT_DOY         374390 non-null  float64
 7   REPORT_DOW         374390 non-null  object
 8   REPORT_HOUR        374390 non-null  float64
 9   OCC_YEAR           381298 non-null  float64
 10  OCC_MONTH          381298 non-null  object
 11  OCC_DAY            381298 non-null  float64
 12  OCC_DOY            381298 non-null  float64
 13  OCC_DOW            381298 non-null  object
 14  OCC_HOUR           380097 non-null  float64
 15  DIVISION           381419 non-null  object
 16  LOCATION_TYPE      374390 non-null  object
 17  PREMISES_TYPE      374390 non-null  object
 18  UCR_CODE           342420 non-null  float64
 19  UCR_EXT            342420 non-null  float64
 20  OFFENCE            342420 non-null  object
 21  MCI_CATEGORY       342420 non-null  object
 22  HOOD_158           381419 non-null  object
 23  NEIGHBOURHOOD_158  381419 non-null  object
 24  HOOD_140           381419 non-null  object
 25  NEIGHBOURHOOD_140  381419 non-null  object
 26  LONG_WGS84         381419 non-null  float64
 27  LAT_WGS84          381419 non-null  float64
 28  PRIMARY_OFFENCE    31970 non-null   object
 29  BIKE_MAKE          31813 non-null   object
 30  BIKE_MODEL         19893 non-null   object
 31  BIKE_TYPE          31970 non-null   object
 32  BIKE_SPEED         31970 non-null   float64
 33  BIKE_COLOUR        29305 non-null   object
 34  BIKE_COST          29808 non-null   float64
 35  STATUS             31970 non-null   object
 36  HOMICIDE_TYPE      1322 non-null    object
 37  F_num_removed      858 non-null     float64
 38  OCC_TIME_RANGE     5707 non-null    object
 39  DEATH              5707 non-null    float64
 40  INJURIES           5707 non-null    float64
dtypes: float64(18), object(23)
memory usage: 122.2+ MB

In [18]:
final_df.describe()

,REPORT_DATE,REPORT_YEAR,REPORT_DAY,REPORT_DOY,REPORT_HOUR,OCC_YEAR,OCC_DAY,OCC_DOY,OCC_HOUR,UCR_CODE,UCR_EXT,LONG_WGS84,LAT_WGS84,BIKE_SPEED,BIKE_COST,F_num_removed,DEATH,INJURIES
count,3.743900e+05,374390.000000,374390.000000,374390.000000,374390.000000,381298.000000,381298.000000,381298.000000,380097.000000,342420.000000,342420.000000,381419.000000,381419.000000,31970.000000,29808.000000,858.0,5707.000000,5707.000000
mean,1.535963e+12,2018.158623,15.757250,188.341000,13.080953,2018.034409,15.446942,187.650554,13.098633,1732.836032,149.229563,-79.477742,43.137053,14.079262,973.016019,1.0,0.122481,0.488172
std,8.179961e+10,2.575272,8.741483,101.711403,6.168116,2.745329,8.875606,101.939791,7.245826,338.053985,51.452598,0.697137,4.948195,10.553628,1609.044655,0.0,0.349599,0.779148
min,1.388550e+12,2014.000000,1.000000,1.000000,0.000000,2000.000000,1.000000,1.000000,0.000000,1410.000000,100.000000,-85.488744,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
25%,1.466654e+12,2016.000000,8.000000,104.000000,9.000000,2016.000000,8.000000,103.000000,8.000000,1430.000000,100.000000,-79.478954,43.658511,6.000000,360.000000,1.0,0.000000,0.000000
50%,1.538107e+12,2018.000000,16.000000,192.000000,13.000000,2018.000000,15.000000,191.000000,15.000000,1480.000000,110.000000,-79.397033,43.695288,15.000000,650.000000,1.0,0.000000,0.000000
75%,1.604898e+12,2020.000000,23.000000,274.000000,18.000000,2020.000000,23.000000,274.000000,19.000000,2135.000000,200.000000,-79.332379,43.748374,21.000000,1080.000000,1.0,0.000000,1.000000
max,1.672463e+12,2022.000000,31.000000,366.000000,23.000000,2022.000000,31.000000,366.000000,23.000000,2142.000000,230.000000,-78.551414,44.351392,99.000000,120000.000000,1.0,3.000000,24.000000

In [19]:
final_df.shape

(381419, 41)

In [22]:
final_df.duplicated().sum()

26417

In [23]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

,EVENT_UNIQUE_ID,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
7,GO-2004152518,NaN,2004.02.20,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,NaN,NaN,NaN,NaN,NaN,Stabbing,NaN,NaN,NaN,NaN
55,GO-2004734705,NaN,2004.12.01,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,NaN,NaN,NaN,NaN,NaN,Stabbing,NaN,NaN,NaN,NaN
108,GO-20051068304,NaN,2005.08.07,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NaN,NaN,NaN,NaN,NaN,Shooting,NaN,NaN,NaN,NaN
124,GO-20051156513,NaN,2005.09.16,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NaN,NaN,NaN,NaN,NaN,Shooting,NaN,NaN,NaN,NaN
125,GO-20051156513,NaN,2005.09.16,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,NaN,NaN,NaN,NaN,NaN,Shooting,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40006,GO-2022995203,1.653624e+12,1653192000000,2022.0,May,27.0,147.0,Friday,7.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40001,GO-2022995776,1.653624e+12,1653537600000,2022.0,May,27.0,147.0,Friday,8.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9807,GO-2022995987,1.653624e+12,1653364800000,2022.0,May,27.0,147.0,Friday,15.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40003,GO-2022997755,1.653624e+12,1653537600000,2022.0,May,27.0,147.0,Friday,13.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159668,GO-2022999907,1.653624e+12,1653624000000,2022.0,May,27.0,147.0,Friday,19.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN