<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> Data Cleaning</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Part 1 - Basic Analysis](#part1) <br />
    - [1.1](#1.1) <br />
    - [1.2](#1.2) <br />
- [Part 2 - Statistical Analysis](#part2) <br />
    - [2.1](#2.1) <br />
    - [2.2](#2.2) <br />
- [Part 3 - Advanced Statistical Analysis](#part3)<br />
    - [3.1](#3.1) <br />
    - [3.2](#3.2) <br />
- [Summary](#summary)

### Introduction <a id="intro" />

This notebook aims to merge multiple datasets into one for cleaning and analysis.

Importing all the required libraries.

In [9]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library 
import statsmodels.api as sm #importing statsmodel library 
from scipy import stats #importing scientific py library 
import datetime

### Part 1 - Basic Analysis <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [10]:
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
Go through all th data files, and fix the columns expecially dates.regfgf
fgsdf
wwww
subin

"""
#HEllo World.;

final_df=pd.concat(final)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,REPORT_DATE,OCC_DATE_FIXED,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
140033,GO-20211051351,2021-06-06,1.622950e+12,2021-06-06,1622950000000.0,2021.0,June,6.0,157.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4839,GO-20201853895,NaN,NaN,2020-09-29,1600000000000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Evening,0.0,0.0
6243,GO-20142161928,2014-05-27,1.401160e+12,2014-05-27,1401160000000.0,2014.0,May,27.0,147.0,Tuesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,GO-20142076245,2014-05-14,1.400040e+12,2014-05-13,1399950000000.0,2014.0,May,14.0,134.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62429,GO-20209027658,2020-10-25,1.603600e+12,2020-10-24,1603510000000.0,2020.0,October,25.0,299.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130100,GO-20202117543,2020-11-08,1.604810e+12,2020-11-07,1604730000000.0,2020.0,November,8.0,313.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32231,GO-20151918011,2015-11-08,1.446960e+12,2015-11-08,1446960000000.0,2015.0,November,8.0,312.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14009,GO-20179021127,2017-12-03,1.510000e+12,2017-12-01,1510000000000.0,2017.0,December,3.0,337.0,Sunday,...,MT,5.0,NaN,250.0,STOLEN,NaN,NaN,NaN,NaN,NaN
134081,GO-2021239776,2021-02-07,1.612670e+12,2021-02-07,1612670000000.0,2021.0,February,7.0,38.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8491,GO-20161164586,2016-07-03,1.467520e+12,2016-06-25,1466830000000.0,2016.0,July,3.0,185.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
final_df["OFFENCE"].sample(100)

OBJECTID
29522                 Assault
11430      Robbery - Swarming
141684    Assault With Weapon
85823                 Assault
25169                 Assault
                 ...
140161    Assault With Weapon
141798    Assault With Weapon
9351                  Assault
717           Robbery - Other
151881                Assault
Name: OFFENCE, Length: 100, dtype: object

The data looks to have concatenated well and the number of columns have risen to <b>43!</b> So, I will be dropping some columns which contained either useless data, redundant data or data which is not necessary for mmy analysis.

In [43]:
# Doesn't make sense
final_df.drop('F_num_removed', axis=1, inplace=True)
final_df.drop('OCC_TIME_RANGE', axis=1, inplace=True)

# Old redundant data 
final_df.drop('NEIGHBOURHOOD_140', axis=1, inplace=True)
final_df.drop('HOOD_140', axis=1, inplace=True)
final_df.drop('REPORT_DATE', axis=1, inplace=True)
final_df.drop('OCC_DATE', axis=1, inplace=True)

# Resetting index since it got mixed up while concatanating 
final_df.reset_index(drop=True)

# Are not going to be used in my analysis
final_df.drop('BIKE_MAKE', axis=1, inplace=True)
final_df.drop('BIKE_MODEL', axis=1, inplace=True)
final_df.drop('BIKE_TYPE', axis=1, inplace=True)
final_df.drop('BIKE_SPEED', axis=1, inplace=True)
final_df.drop('BIKE_COLOUR', axis=1, inplace=True)
final_df.drop('BIKE_COST', axis=1, inplace=True)

KeyError: "['F_num_removed'] not found in axis"

In [12]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381419 entries, 1 to 10745
Data columns (total 32 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    381419 non-null  object
 1   REPORT_DATE_FIXED  374390 non-null  object
 2   OCC_DATE_FIXED     380097 non-null  object
 3   REPORT_YEAR        374390 non-null  float64
 4   REPORT_MONTH       374390 non-null  object
 5   REPORT_DAY         374390 non-null  float64
 6   REPORT_DOY         374390 non-null  float64
 7   REPORT_DOW         374390 non-null  object
 8   REPORT_HOUR        374390 non-null  float64
 9   OCC_YEAR           381298 non-null  float64
 10  OCC_MONTH          381298 non-null  object
 11  OCC_DAY            381298 non-null  float64
 12  OCC_DOY            381298 non-null  float64
 13  OCC_DOW            381298 non-null  object
 14  OCC_HOUR           380097 non-null  float64
 15  DIVISION           381419 non-null  object
 16  LOCATION_TYPE      374390 non-null  object
 17  PREMISES_TYPE      374390 non-null  object
 18  UCR_CODE           342420 non-null  float64
 19  UCR_EXT            342420 non-null  float64
 20  OFFENCE            342420 non-null  object
 21  MCI_CATEGORY       342420 non-null  object
 22  HOOD_158           381419 non-null  object
 23  NEIGHBOURHOOD_158  381419 non-null  object
 24  LONG_WGS84         381419 non-null  float64
 25  LAT_WGS84          381419 non-null  float64
 26  PRIMARY_OFFENCE    31970 non-null   object
 27  STATUS             31970 non-null   object
 28  HOMICIDE_TYPE      1322 non-null    object
 29  OCC_TIME_RANGE     5707 non-null    object
 30  DEATH              5707 non-null    float64
 31  INJURIES           5707 non-null    float64
dtypes: float64(14), object(18)
memory usage: 96.0+ MB

As we can see, after dropping all the unnecessary columns we are left with <b>31</b> columns. We can also observe that there seems to be a lot of `NULL` values. So, let's check for them!

In [16]:
final_df.isna().sum()

EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      7029
OCC_DATE_FIXED         1322
REPORT_YEAR            7029
REPORT_MONTH           7029
REPORT_DAY             7029
REPORT_DOY             7029
REPORT_DOW             7029
REPORT_HOUR            7029
OCC_YEAR                121
OCC_MONTH               121
OCC_DAY                 121
OCC_DOY                 121
OCC_DOW                 121
OCC_HOUR               1322
DIVISION                  0
LOCATION_TYPE          7029
PREMISES_TYPE          7029
UCR_CODE              38999
UCR_EXT               38999
OFFENCE               38999
MCI_CATEGORY          38999
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE      349449
STATUS               349449
HOMICIDE_TYPE        380097
OCC_TIME_RANGE       375712
DEATH                375712
INJURIES             375712
dtype: int64

As we can see there are a lot of `NULL` values. After doing some research I realized the `DEATH` and `INJURIES` columns were specific for `Shooting` dataset, and hence the huge amounts of `NULL` values. So, to fix that I will be filling the `NULL` values in these two columns with `0` as this will indicate that no-one was injured or killed in any other types of crimes. The `HOMICIDE_TYPE` column is also specific to the `Homicide` dataset hence I will be filling the `NULL` values with "N/A". Similarly, `STATUS` and `PRIMARY_OFFENCE` is specific to the `Bike_Theft` data set, so I will be filling the `NULL` values wiht "N/A". The reason I am not dropping these columns is that even though they are specific to one type of crime, they provide very valuable insight into that crime, so for now I don't have any strong reasons to drop them.

In [36]:
# Filling the NULL values
final_df["DEATH"] = final_df["DEATH"].fillna(0)
final_df["INJURIES"] = final_df["INJURIES"].fillna(0)
final_df["HOMICIDE_TYPE"] = final_df["HOMICIDE_TYPE"].fillna("N/A")
final_df["STATUS"] = final_df["STATUS"].fillna("N/A")
final_df["PRIMARY_OFFENCE"] = final_df["PRIMARY_OFFENCE"].fillna("N/A")
final_df["MCI_CATEGORY"] = final_df["MCI_CATEGORY"].fillna("NonMCI")

In [37]:
final_df.isna().sum()

EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      7029
OCC_DATE_FIXED         1322
REPORT_YEAR            7029
REPORT_MONTH           7029
REPORT_DAY             7029
REPORT_DOY             7029
REPORT_DOW             7029
REPORT_HOUR            7029
OCC_YEAR                121
OCC_MONTH               121
OCC_DAY                 121
OCC_DOY                 121
OCC_DOW                 121
OCC_HOUR               1322
DIVISION                  0
LOCATION_TYPE          7029
PREMISES_TYPE          7029
UCR_CODE              38999
UCR_EXT               38999
OFFENCE               38999
MCI_CATEGORY              0
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE           0
STATUS                    0
HOMICIDE_TYPE             0
OCC_TIME_RANGE       375712
DEATH                     0
INJURIES                  0
dtype: int64

In [38]:
final_df.duplicated().sum()

29516

In [39]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
7,GO-2004152518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,154,Oakdale-Beverley Heights,-79.508631,43.720909,N/A,N/A,Stabbing,NaN,0.0,0.0
55,GO-2004734705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.0,...,172,Dovercourt Village,-79.428717,43.669298,N/A,N/A,Stabbing,NaN,0.0,0.0
108,GO-20051068304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,71,Cabbagetown-South St.James Town,-79.375516,43.665735,N/A,N/A,Shooting,NaN,0.0,0.0
125,GO-20051156513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,5,Elms-Old Rexdale,-79.549360,43.727283,N/A,N/A,Shooting,NaN,0.0,0.0
124,GO-20051156513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,...,5,Elms-Old Rexdale,-79.549360,43.727283,N/A,N/A,Shooting,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40006,GO-2022995203,2022-05-27,2022-05-22,2022.0,May,27.0,147.0,Friday,7.0,2022.0,...,23,Pelmo Park-Humberlea,-79.537287,43.717017,N/A,N/A,N/A,NaN,0.0,0.0
40001,GO-2022995776,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,8.0,2022.0,...,108,Briar Hill-Belgravia,-79.449333,43.695892,N/A,N/A,N/A,NaN,0.0,0.0
9807,GO-2022995987,2022-05-27,2022-05-24,2022.0,May,27.0,147.0,Friday,15.0,2022.0,...,159,Etobicoke City Centre,-79.527286,43.634209,N/A,N/A,N/A,NaN,0.0,0.0
40003,GO-2022997755,2022-05-27,2022-05-26,2022.0,May,27.0,147.0,Friday,13.0,2022.0,...,108,Briar Hill-Belgravia,-79.449333,43.695892,N/A,N/A,N/A,NaN,0.0,0.0
159668,GO-2022999907,2022-05-27,2022-05-27,2022.0,May,27.0,147.0,Friday,19.0,2022.0,...,70,South Riverdale,-79.328487,43.659320,N/A,N/A,N/A,NaN,0.0,0.0

In [40]:
final_df= final_df.drop_duplicates()

In [41]:
final_df.duplicated().sum()

0

In [42]:
final_df.isna().sum()

EVENT_UNIQUE_ID           0
REPORT_DATE_FIXED      6951
OCC_DATE_FIXED         1244
REPORT_YEAR            6951
REPORT_MONTH           6951
REPORT_DAY             6951
REPORT_DOY             6951
REPORT_DOW             6951
REPORT_HOUR            6951
OCC_YEAR                113
OCC_MONTH               113
OCC_DAY                 113
OCC_DOY                 113
OCC_DOW                 113
OCC_HOUR               1244
DIVISION                  0
LOCATION_TYPE          6951
PREMISES_TYPE          6951
UCR_CODE              35498
UCR_EXT               35498
OFFENCE               35498
MCI_CATEGORY              0
HOOD_158                  0
NEIGHBOURHOOD_158         0
LONG_WGS84                0
LAT_WGS84                 0
PRIMARY_OFFENCE           0
STATUS                    0
HOMICIDE_TYPE             0
OCC_TIME_RANGE       346196
DEATH                     0
INJURIES                  0
dtype: int64

In [ ]:
final_df= final_df.drop_()

In [ ]:
final_df.isna().sum()/final_df.shape[0]*100

In [ ]:
pd.options.display.max_columns = 1000
final_df.head()

In [7]:
final_df.to_csv('FinalData.csv')