<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Part 1 - Basic Analysis](#part1) <br />
    - [1.1](#1.1) <br />
    - [1.2](#1.2) <br />
- [Part 2 - Statistical Analysis](#part2) <br />
    - [2.1](#2.1) <br />
    - [2.2](#2.2) <br />
- [Part 3 - Advanced Statistical Analysis](#part3)<br />
    - [3.1](#3.1) <br />
    - [3.2](#3.2) <br />
- [Summary](#summary)

### Introduction <a id="intro" />

This notebook aims to conduct advanced statistical analysis on the cleaned mosquito dataset. We will be trying to find the relationships between different variables and their effect on the mosquito number using different models. We will also be looking at the statistical significance between each variable as well.

Importing all the required libraries.

In [6]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library 
import statsmodels.api as sm #importing statsmodel library 
from scipy import stats #importing scientific py library 
import datetime

### Part 1 - Basic Analysis <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [7]:
#Reading the csv file
assualt_df = pd.read_csv('../Data/Assualt.csv',low_memory=False, index_col=0)
autoTheft_df = pd.read_csv('../Data/Auto Theft.csv',low_memory=False, index_col=0)
bicycleTheft_df = pd.read_csv('../Data/Bicycle Theft.csv',low_memory=False, index_col=0)
homicide_df = pd.read_csv('../Data/Homicide.csv',low_memory=False, index_col=0)
motorTheft_df = pd.read_csv('../Data/Motor Theft.csv',low_memory=False, index_col=0)
robbery_df = pd.read_csv('../Data/Robbery.csv',low_memory=False, index_col=0)
shootings_df = pd.read_csv('../Data/Shootings.csv',low_memory=False, index_col=0)
theftOver_df = pd.read_csv('../Data/Theft Over.csv',low_memory=False, index_col=0)

final=[assualt_df,autoTheft_df,bicycleTheft_df,homicide_df,motorTheft_df,robbery_df,shootings_df,theftOver_df] 

"""
Go through all th data files, and fix the columns expecially dates.regfgf
fgsdf
wwww
subin

"""
#HEllo World.;

final_df=pd.concat(final)

final_df.sample(100)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,REPORT_DATE,OCC_DATE_FIXED,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,...,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,F_num_removed,OCC_TIME_RANGE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
28211,GO-2017600666,2017-04-05,1.491360e+12,2017-04-04,1491280000000.0,2017.0,April,5.0,95.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41631,GO-2016827345,2016-05-14,1.463200e+12,2016-05-14,1463200000000.0,2016.0,May,14.0,135.0,Saturday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151435,GO-20212459221,2021-12-22,1.640150e+12,2021-12-22,1640150000000.0,2021.0,December,22.0,356.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4482,GO-20159004314,2015-07-08,1.440000e+12,2015-07-06,1440000000000.0,2015.0,July,8.0,189.0,Wednesday,...,OT,20.0,BLK,1500.0,STOLEN,NaN,NaN,NaN,NaN,NaN
18865,GO-2015268900,2015-02-15,1.423980e+12,2015-02-15,1423980000000.0,2015.0,February,15.0,46.0,Sunday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54544,GO-2020162108,2020-01-24,1.579840e+12,2020-01-24,1579840000000.0,2020.0,January,24.0,24.0,Friday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30216,GO-20221282469,2022-07-06,1.660000e+12,2022-07-05,1660000000000.0,2022.0,July,6.0,187.0,Wednesday,...,MT,0.0,GRYWHI,2000.0,STOLEN,NaN,NaN,NaN,NaN,NaN
19738,GO-2019495236,2019-03-18,1.552880e+12,2019-03-18,1552880000000.0,2019.0,March,18.0,77.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33230,GO-20211466440,2021-08-04,1.628050e+12,2021-08-03,1627960000000.0,2021.0,August,4.0,216.0,Wednesday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141781,GO-20211262647,2021-07-05,1.625460e+12,2021-07-05,1625460000000.0,2021.0,July,5.0,186.0,Monday,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
final_df.drop('REPORT_DATE', axis=1, inplace=True)
final_df.drop('OCC_DATE', axis=1, inplace=True)

In [10]:
# Doesn't make sense
final_df.drop('F_num_removed', axis=1, inplace=True)
# Old redundant data 
final_df.drop('NEIGHBOURHOOD_140', axis=1, inplace=True)
final_df.drop('HOOD_140', axis=1, inplace=True)
# Resetting index since it got mixed up while concatanating 
final_df.reset_index(drop=True)

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,BIKE_MODEL,BIKE_TYPE,BIKE_SPEED,BIKE_COLOUR,BIKE_COST,STATUS,HOMICIDE_TYPE,OCC_TIME_RANGE,DEATH,INJURIES
0,GO-20141262074,2014-01-01,1998-06-01,2014.0,January,1.0,1.0,Wednesday,12.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GO-20141260889,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GO-20141261050,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GO-20141259344,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,2.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GO-20141260537,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381414,GO-20222558987,2022-12-31,2022-12-31,2022.0,December,31.0,365.0,Saturday,9.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381415,GO-20222559198,2022-12-31,2022-12-26,2022.0,December,31.0,365.0,Saturday,11.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381416,GO-20229051758,2022-12-31,2022-12-30,2022.0,December,31.0,365.0,Saturday,11.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381417,GO-20222560989,2022-12-31,2022-12-30,2022.0,December,31.0,365.0,Saturday,14.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381418,GO-20222561610,2022-12-31,2022-12-30,2022.0,December,31.0,365.0,Saturday,16.0,2022.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 381419 entries, 1 to 10745
Data columns (total 38 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   EVENT_UNIQUE_ID    381419 non-null  object
 1   REPORT_DATE_FIXED  374390 non-null  object
 2   OCC_DATE_FIXED     380097 non-null  object
 3   REPORT_YEAR        374390 non-null  float64
 4   REPORT_MONTH       374390 non-null  object
 5   REPORT_DAY         374390 non-null  float64
 6   REPORT_DOY         374390 non-null  float64
 7   REPORT_DOW         374390 non-null  object
 8   REPORT_HOUR        374390 non-null  float64
 9   OCC_YEAR           381298 non-null  float64
 10  OCC_MONTH          381298 non-null  object
 11  OCC_DAY            381298 non-null  float64
 12  OCC_DOY            381298 non-null  float64
 13  OCC_DOW            381298 non-null  object
 14  OCC_HOUR           380097 non-null  float64
 15  DIVISION           381419 non-null  object
 16  LOCATION_TYPE      374390 non-null  object
 17  PREMISES_TYPE      374390 non-null  object
 18  UCR_CODE           342420 non-null  float64
 19  UCR_EXT            342420 non-null  float64
 20  OFFENCE            342420 non-null  object
 21  MCI_CATEGORY       342420 non-null  object
 22  HOOD_158           381419 non-null  object
 23  NEIGHBOURHOOD_158  381419 non-null  object
 24  LONG_WGS84         381419 non-null  float64
 25  LAT_WGS84          381419 non-null  float64
 26  PRIMARY_OFFENCE    31970 non-null   object
 27  BIKE_MAKE          31813 non-null   object
 28  BIKE_MODEL         19893 non-null   object
 29  BIKE_TYPE          31970 non-null   object
 30  BIKE_SPEED         31970 non-null   float64
 31  BIKE_COLOUR        29305 non-null   object
 32  BIKE_COST          29808 non-null   float64
 33  STATUS             31970 non-null   object
 34  HOMICIDE_TYPE      1322 non-null    object
 35  OCC_TIME_RANGE     5707 non-null    object
 36  DEATH              5707 non-null    float64
 37  INJURIES           5707 non-null    float64
dtypes: float64(16), object(22)
memory usage: 113.5+ MB

In [12]:
final_df.to_csv('FinalData.csv')

In [ ]:
final_df.describe()

In [ ]:
final_df.shape

In [ ]:
final_df.duplicated().sum()

In [ ]:
final_df.loc[final_df.duplicated(), :].sort_values("EVENT_UNIQUE_ID")

In [ ]:
final_df= final_df.drop_duplicates()

In [ ]:
final_df.duplicated().sum()

In [ ]:
final_df.isna().sum()

In [ ]:
final_df.isna().sum()/final_df.shape[0]*100

In [ ]:
pd.options.display.max_columns = 1000
final_df.head()